<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d:%-3L [%thread] %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <define name="MinerDefinedLogLevel"
            class="com.github.charlemaznable.core.miner.MinerDefinedLogLevel"/>
    <root level="${MinerDefinedLogLevel}">
        <appender-ref ref="Console"/>
    </root>

</configuration>